{{ define "judgeProfile" }}
{{ template "template_start" . }}
<div class="row d-flex justify-content-center mt-5">
    <div class="col-8">
        <h2>{{ .title }}</h2>
        <div class="card mt-4 mb-4">
            <div class="card-header">
                Ваши данные
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><b>Имя пользователя:</b> {{ .judgeView.Login }}</li>
                    <li><b>ФИО:</b> {{ .judgeView.FIO }}</li>
                    <li><b>Должность:</b> {{ .judgeView.Post }}</li>
                    <li><b>Статус:</b> {{ .judgeView.Role }}</li>
                </ul>
            </div>
        </div>
        <a href="/judges/{{ .judge.ID }}/profile/update" class="btn btn-primary">Редактировать профиль</a>
        <a href="/judges/{{ .judge.ID }}/profile/updatePassword" class="btn btn-primary">Изменить пароль</a>
    </div>
</div>
{{ template "template_end" . }}
{{ end }}