{{ define "nav" }}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://th.bing.com/th/id/OIP.zWg7S2YYcgA41-a2qxpSYQHaHa?pid=ImgDet&w=172.3404255319149&h=180&c=7&dpr=2"
             width="50" height="50" class="d-inline-block align-middle" alt="">
        My sail races system
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ratings">Регаты</a>
        </li>
        {{ if .о=judge }}
        <li class="nav-item">
            <a class="nav-link" href="/judge">Панель управления</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/judge/profile">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Выйти</a>
        </li>
        {{ else }}
        <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Войти</a>
        </li>
        {{ end }}
    </ul>
</nav>

{{ end }}