{{ define "nav" }}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
    </a>
    <ul class="nav justify-content-end">
        {{ if .judge }}
        <li class="nav-item">
            <a class="nav-link" href="/judges">Панель управления</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/judges/{{ .judge.ID }}/profile">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Выйти</a>
        </li>
        {{ else }}
        <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Войти</a>
        </li>
        {{ end }}
    </ul>
</nav>

{{ end }}