/* Основные стили */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

/* Контент */
main {
  margin-top: 20px;
}

.yacht-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  background-color: #76abc2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.selected-yacht-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 5px;
  background-color: #619eb9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
/* Контейнер ошибки */
.error, .success {
  text-align: center;
  margin-top: 10px;
}
/* Гибкий контейнер с кнопками */
.finish-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: start;
  margin-bottom: 20px;
}

.finish-controls > * {
  width: 100%;
}

/* Адаптивный список */
.finish-list {
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.finish-list h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Элементы списка */
.sortable-item {
  background: #619eb9;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: grab;
  transition: transform 0.2s ease-in-out;
  user-select: none;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  header {
    font-size: 18px;
    padding: 8px;
  }

  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  .finish-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sortable-item {
    padding: 8px;
    font-size: 14px;
  }

  .yacht-button {
    width: 100%;
  }
}
/* Основные стили */
body {
  font-family: "Spectral SC", serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #e4e4e4;
}

th {
  background-color: #d9d9d9;
  color: #000000;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #cdddf4;
}

tr:nth-child(odd) {
  background-color: #cddef5;
}

tr:hover {
  background-color: #c7d5f5;
}

td {
  background-color: #ffffff;
}

/* Контейнер для кнопок */
.buttons-container {
  display: flex;
  justify-content: center; /* Центрирование кнопок по горизонтали */
  gap: 10px; /* Отступы между кнопками */
  margin-top: 20px; /* Отступ сверху */
  margin-bottom: 20px; /* Отступ сверху */
}

/* Кнопки */
button {
  padding: 10px 20px;
  background-color: #266793;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Ширина кнопки */
  font-family: "Spectral SC", serif;
  margin-top: 5px; /* Отступ сверху */
  margin-bottom: 5px; /* Отступ сверху */
}

button:hover {
  background-color: #1f5b74;
}

/* Специфическая стилизация для кнопки добавления нового рейтинга */
.add-rating-button {
  padding: 10px 20px;
  background-color: #2a71a1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  font-family: "Spectral SC", serif;
  width: 100%; /* Ширина кнопки на всю ширину таблицы */
  font-weight: bold;
}

.add-rating-button:hover {
  background-color: #266793; /* Темнее при наведении */
}

/* По умолчанию скрываем кнопки, доступные только авторизованным пользователям */
.auth-required {
  display: none;
}

/* Когда пользователь авторизован, показываем скрытые кнопки */
.authenticated .auth-required {
  display: inline-block;
}

/* Поля фильтра */
input[type="text"],
input[type="number"],
select {
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #c4d1d7;
  border-radius: 4px;
  width: 100%;
  background-color: #cddef5;
  box-sizing: border-box;
  font-family: "Spectral SC", serif;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #2a71a1;
  outline: none;
}

/* Модальные окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content input[type="text"],
.modal-content select,
.modal-content input[type="number"] {
  width: 100%;
  margin-bottom: 10px;
}

/* Стили для поиска */
input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: #2a71a1;
  outline: none;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}
.error-message p {
  margin: 0;
}
.error-message button {
  background: none;
  border: none;
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  background-color: #C5D1D7;
  text-align: center;
  padding: 40px 0;
  width: 100%;
}

.footer-link {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
  font-family: "Spectral SC", serif;
}

.footer-button {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
  font-size: 25px;
  font-family: "Spectral SC", serif;
  border: none;
  background: none;
  cursor: pointer;
}
