{{ define "rating-table" }}
{{ template "template_start" . }}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<h2>Таблица рейтинга</h2>
<table>
    <thead>
    <tr>
        <th>№</th>
        <th>№ паруса</th>
        <!-- <th>Рулевой</th> -->
        {{ range $i, $num := .raceNums }}
        <th>гон. {{ $num }}</th>
        {{ end }}
        <th>Очки</th>
        <!-- <th>Место</th> -->
    </tr>
    </thead>
    <tbody>
    {{ range $i, $line := .lines }}
    <tr>
        <td>{{ $i }}</td>
        <td>{{ $line.SailNum }}</td>
        <!-- <td>{{ $line.ParticipantNames }}</td> -->
        {{ range $j, $res := $line.ResInRace }}
        <td>{{ index $line.ResInRace $j }}</td>
        {{ end }}
        <td>{{ $line.PointsSum }}</td>
        <!-- <td>{{ $line.Rank }}</td> -->
    </tr>
    {{ end }}
    </tbody>
</table>
{{ template "template_end" . }}
{{ end }}
