{{ define "start" }}
{{ template "template_start" . }}

<div class="container mt-5">
    <h2>Процедура старта</h2>

    {{ if .error }}
    <div class="alert alert-danger" role="alert">
        {{ .error }}
    </div>
    {{ end }}

    <form action="/ratings/{{ .ratingView.ID }}/races/{{ .raceView.ID }}/start" method="post">
        <div class="form-group">
            <label for="ratingName">Рейтинг:</label>
            <input type="text" class="form-control" id="ratingName" name="ratingName" value="{{ .ratingView.Name }}" readonly>
        </div>

        <h4>Экипажи</h4>
        <div class="form-group">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>№ Паруса</th>
                    <th>Особые обстоятельства</th>
                </tr>
                </thead>
                <tbody>
                {{ range $index, $crew := .crewsView }}
                <tr>
                    <td>
                        <input type="hidden" name="formData[{{ $index }}].SailNum" value="{{ $crew.SailNum }}">
                        {{ $crew.SailNum }}
                    </td>
                    <td>
                        <select name="formData[{{ $index }}].SpecCirc" class="form-control">
                            {{ range $key, $value := $.circumstances }}
                            <option value="{{ $key }}">{{ $value }}</option>
                            {{ end }}
                        </select>
                    </td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>

        <button type="submit" class="btn btn-primary">Начать гонку</button>
    </form>
</div>

{{ template "template_end" . }}
{{ end }}
