{{ define "participant" }}
{{ template "template_start" . }}
<div class="row d-flex justify-content-center mt-5">
    <div class="col-10">
        <h2>Информация об участнике</h2>

        <p>ФИО: {{ .participant.FIO }}</p>
        <p>Категория: {{ .participantView.Category }}</p>
        <p>Пол: {{ .participantView.Gender }}</p>
        <p>Дата Рождения: {{ .participantView.Birthday }}</p>
        <p>Тренер: {{ .participantView.Coach }}</p>

        {{ if .judge }}
        <h4>Действия над участником: </h4>
            {{ if .rating }}
            <form method="post" action="/ui/ratings/{{ .rating.ID }}/crews/{{ .crew.ID }}/ui/participants/{{ $.participant.ID }}/delete">
                <button type="submit" class="btn btn-danger">Удалить участника</button>
            </form>
            <a class="btn btn-action" href="/ui/ratings/{{ .rating.ID }}/crews/{{ .crew.ID }}/ui/participants/{{ $.participant.ID }}/update">Изменить участника</a>
            {{ else }}
            <form method="post" action="/ui/participants/{{ $.participant.ID }}/delete">
                <button type="submit" class="btn btn-danger">Удалить участника</button>
            </form>
            <a class="btn btn-action" href="/ui/participants/{{ $.participant.ID }}/update">Изменить участника</a>
            {{ end }}
        {{ end }}

        {{ if .rating }}
        <a href="/ui/ratings/{{ .rating.ID }}/crews/{{ .crew.ID }}" class="btn btn-primary">Вернуться к команде</a>
        {{ else }}
        <a href="/" class="btn btn-primary">Вернуться к списку рейтингов</a>
        {{ end }}
    </div>
</div>
{{ template "template_end" . }}
{{ end }}
